//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 07 01:08:03 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "T10" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "L17" LEVEL 1;
COMP "ce_L" LOCATE = SITE "L15" LEVEL 1;
COMP "lb_L" LOCATE = SITE "K16" LEVEL 1;
COMP "oe_L" LOCATE = SITE "L18" LEVEL 1;
COMP "ub_L" LOCATE = SITE "K15" LEVEL 1;
COMP "we_L" LOCATE = SITE "M16" LEVEL 1;
COMP "MemDB<0>" LOCATE = SITE "R13" LEVEL 1;
COMP "MemDB<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "MemDB<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "MemDB<3>" LOCATE = SITE "U5" LEVEL 1;
COMP "MemDB<4>" LOCATE = SITE "V5" LEVEL 1;
COMP "MemDB<5>" LOCATE = SITE "R3" LEVEL 1;
COMP "MemDB<6>" LOCATE = SITE "T3" LEVEL 1;
COMP "MemDB<7>" LOCATE = SITE "R5" LEVEL 1;
COMP "MemDB<8>" LOCATE = SITE "N5" LEVEL 1;
COMP "MemDB<9>" LOCATE = SITE "P6" LEVEL 1;
COMP "RamADV_L" LOCATE = SITE "H18" LEVEL 1;
COMP "data<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "data<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "data<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "data<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "data<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "data<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "data<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "data<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "hsync" LOCATE = SITE "N6" LEVEL 1;
COMP "vsync" LOCATE = SITE "P7" LEVEL 1;
COMP "MemDB<10>" LOCATE = SITE "P12" LEVEL 1;
COMP "MemDB<11>" LOCATE = SITE "U13" LEVEL 1;
COMP "MemDB<12>" LOCATE = SITE "V13" LEVEL 1;
COMP "MemDB<13>" LOCATE = SITE "U10" LEVEL 1;
COMP "MemDB<14>" LOCATE = SITE "R8" LEVEL 1;
COMP "MemDB<15>" LOCATE = SITE "T8" LEVEL 1;
COMP "MemAdr<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "MemAdr<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "J18" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "J16" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "G18" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "H15" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "H14" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "H13" LEVEL 1;
COMP "RamCLK" LOCATE = SITE "R10" LEVEL 1;
COMP "RamCRE" LOCATE = SITE "M18" LEVEL 1;
COMP "clt<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "clt<1>" LOCATE = SITE "C9" LEVEL 1;
COMP "clt<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "clt<3>" LOCATE = SITE "D9" LEVEL 1;
COMP "clt<4>" LOCATE = SITE "B8" LEVEL 1;
COMP "red<0>" LOCATE = SITE "U7" LEVEL 1;
COMP "red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "sel<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "sel<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "sel<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "sel<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "green<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "F18" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "F17" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "K13" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "G14" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "K12" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "F14" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "E18" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "E16" LEVEL 1;
COMP "MemAdr<23>" LOCATE = SITE "C17" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "G13" LEVEL 1;
COMP "MemAdr<24>" LOCATE = SITE "F16" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "H12" LEVEL 1;
COMP "MemAdr<25>" LOCATE = SITE "F15" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "D18" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "D17" LEVEL 1;
SCHEMATIC END;

